$box-size: 80px;

body {
    margin: auto;
    text-align:center;
}

h1 {
    color: blue;
}

.grid-container {
    margin: 0 0 0 200px;   
    display: grid;
    grid-template-columns: $box-size $box-size $box-size $box-size $box-size $box-size $box-size $box-size $box-size $box-size;
}

.box {    
    padding: 0;
    width: $box-size;
    height: $box-size;
    border-style:solid;
    border-width: 1px;
    border-color: black;
}

.white {
    background-color: white;
}

.black {
    background-color: black;
}

.letter-mark {
    color: black;
    text-align: center;
    font-size: 20px;
}

